* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 90%;
    /* width: 100%; */
    margin: 0 auto;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    gap: 60px;
    flex-wrap: wrap;
}

@media(max-width:300px) {
    .table-head {
        width: 100px;
    }
}

.table-head {
    display: flex;
    gap: 160px;
    justify-content: space-between;
}

.table-head-text {
    font-size: 20px;
    color: black;
}

.table-head-text:hover {
    color: aqua;
    transition: 0.8s;
}

.heder-button {
    width: 256px;
    padding: 10px 0;
    border-radius: 40px;
    border: none;
    background-color: #FC004A;
}

.heder-button:hover {
    background-color: #2706ff;
    transition: 0.8s;
}

.main-img {
    max-width: 70%;
    border-radius: 30px;
}

@media(max-width:300px) {
    .main-img {
        width: 840px;
        margin-left: 20px;
    }
}

.sarlavha {
    font-size: 60px;
    /* margin-top: 130px; */
}

@media(max-width:300px) {
    .sarlavha {
        margin-left: 90px;
    }
}

.set-img {
    width: 210px;
}

.texting-h3 {
    color: #FC004A;
    padding-top: 30px;
}

.span-text {
    display: flex;
    padding-top: 30px;
}

.send-button {
    display: flex;
    background-color: transparent;
    border: none;
    /* margin-left: auto; */
    padding-top: 20px;
}

.container-two {
    min-width: 235px;
    flex: 1;
    /* padding-top: 90px; */
}

.ota {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* flex: 1; */
    /* gap: 290px; */
    /* margin-left: 90px; */
    box-shadow: 20px black;
}
/* 
@media(max-width:300px) {
    .go-init {
        max-width: 900px;
        width: 100%;
        flex-wrap: wrap;
        /* margin: 0 auto; */
    /* } */
/* } */
@media(max-width:300px){

} */

/* .select-w {
    display: flex;
    padding: 60px;
} */

.footer-img {
    margin-left: 990px;
}

.select-clas {
    margin-left: 190px;
}

@media(max-width:300px) {
    .footer-img {
        margin-left: 500px;
    }

    .select-clas {
        margin-right: 30px;
    }
}
@media(max-width:300px){
    .table-head{
        font-size: 5px;
    }
}
@media(max-width:700px){
    .table-head{
        display: block;
    }
    .table-head-text{
        display: none;
    }
}